/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { margin:0; font-size: 16px; font-family:"Kreon";}
header { text-align:left; width:100%; position:fixed; top:0; height: 2.5em; background-color:rgba(200,50,160,.95); padding:1em 2em; }
h1,h2,h3,h4,h5,h6 { font-family: "Raleway";}
header > * { display:inline-block; margin:0;}
header:after{ height: .2em; background-color:rgba(180,30,130,.8); bottom:0;left:0;right:0;position:absolute;content:"";}
header nav { position: absolute; width:auto; right:3em; top:.25em; font-size:1.2em;}
header nav ul { list-style: none; position:relative; right: 1em; }
header nav ul li { display: inline-block; margin: 0 1em; }
header a,
header a:visited { text-decoration:none; color: #000;}

main { margin-right:2em; margin-left:2em;}
#head_spacer {height:5.5em; }