<!DOCTYPE html>
<html>
<head>
  <title>Bro/Foe</title>
 	<link href='http://fonts.googleapis.com/css?family=Kreon|Gloria+Hallelujah|Raleway:900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <style>
  .indents > .indent {
  	width:10px;
  	height:1px;
  	background-color:blue;
  	margin-bottom:5px;
  	display:inline-block;
  }
  .indents {
  	border-left: 1px blue;
  	display:inline;
  }
  </style>
</head>
<body>

<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65092221-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
